body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #F9EDEE;
  font-family: new-order,sans-serif;
  font-style: normal;
  background-size: cover;
  position: relative;
  z-index: 1;
}
canvas{
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500rem;
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 3;
}
ul{
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 1.25rem;
}

li a {
  font-family: new-order,sans-serif;
  font-style: normal;
  font-size: 25px;
  color: black;
  background-color: inherit;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline #CE5E79;
}

.nav-toggle{
  display:none;
  position:absolute;
  top: 1.5rem;
  right: 1rem;
  }
.open{
  height: 20vh;
}
.hidden{
  display: none;
}

/*Index.html*/
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 180px;
  margin-left: 40px;
  margin-right: -20px;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 80%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  margin-left: 30px;
}
.col-2 img:hover{
  transform: translateY(-30px);
}

.col-2 h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  line-height: 150px;
  margin-top: -300px;
}
.background1{
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
.project1{
  border-radius: 20px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
  position: relative;
  top:-630px;
}

/* .square1 {
  height: 100px;
  width: 100px;
  background-color: #CE5E79;
  color:inherit;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  position: relative;
  top: 10px;
  right: 80px;
  transition: transform 0.5s;
}
.square2 {
  height: 100px;
  width: 100px;
  background-color: #CE5E79;
  border-radius: 10px;
  position: relative;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  color:inherit;
  right: -740px;
  top: -710px;
  transition: transform 0.5s;

}
.square3 {
  height: 100px;
  width: 100px;
  background-color: #EE926B;
  border-radius: 10px;
  position: relative;
  color:inherit;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  right: 80px;
  top: -805px;
  transition: transform 0.5s;

}

.square4 {
  height: 100px;
  width: 100px;
  background-color: #EE926B;
  border-radius: 10px;
  position: relative;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  color:inherit;
  top: -290px;
  right: -740px;
  transition: transform 0.5s;

} */
/* .square1:hover{
  transform: translateY(-30px);
}
.square2:hover{
  transform: translateY(-30px);
}
.square3:hover{
  transform: translateY(-30px);
}
.square4:hover{
  transform: translateY(-30px);
} */



/*Aboutme.html*/
.row-2{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}
.col-2-about{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2-about h2{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 50px;
}
.col-2-about p{
  font-family: new-order,sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 28px;
  line-height: 35px;
}
.col-2-about img{
  max-width: 70%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  margin-left: 100px;
}
.col-2-about img:hover{
  transform: translateY(-30px);
}


/*Resume*/
.resume{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  border-radius: 25px;
}

/*Projects*/
.AT-background{
  display: block;
  margin-top:200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 800px;
  width: 1700px;
  max-width: 80%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
}
.AT-background:hover{
  transform:translateY(-30px);
}
/*PROJECT PAGE */
.project-h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
}
.project-h2{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.project-p{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 100px;
  text-align: center;
}

/*StrongBeenz*/
.SB{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 800px;
  width: 1700px;
  max-width: 80%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
}
.SB:hover{
  transform:translateY(-30px);
}
.SB-intro h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:200px;
  font-size: 80px;
  margin-left: 240px;
}
.SB-intro p{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top:-20px;
  margin-bottom: 100px;
  margin-left: 240px;
}
.background{
    margin: 0px 0px 0px 0px;
    height: 1000px;
    background-color: #cccccc;
    background-image: linear-gradient(to right, white , #8591A6);
}
.SB-hp{
  max-width: 60%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
  z-index: 1;
}
.SB-pd{
  max-width: 25%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  position: absolute;
  top: 500px;
  left: 1300px;
  z-index:2;
}
.SB-lg{
  max-width: 19%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  position: absolute;
  top: 800px;
  left: 70px;
  z-index:2;
}
.SB-info h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 400px;
  margin-left: 500px;
}

.SB-info p{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 500px;
  margin-right: 500px;
  line-height: 40px;
}
.SB-info h2{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 150px;
  margin-left: 500px;
}
.SB-info ul{
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
.SB-info li{
  display: inline-block;
  float: left;
  clear: left;
  margin-bottom: 20px;
}
.SB-product{
  max-width: 20%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row3{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.SB-product1{
  max-width: 40%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}



/*Attentio App*/
.At-intro h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:200px;
  font-size: 80px;
  margin-left: 240px;
}
.At-intro p{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top:-20px;
  margin-bottom: 100px;
  margin-left: 240px;
}
.background-at{
    margin: 0px 0px 0px 0px;
    height: 1000px;
    background-color: #cccccc;
    background-image: linear-gradient(to right, white , #99B1A7);
}
.At1{
  max-width: 20%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.At2{
  max-width: 20%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  position: absolute;
  top: 500px;
  left: 1300px;
  z-index:2;
}
.At3{
  max-width: 20%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  position: absolute;
  top: 500px;
  left: 130px;
  z-index:2;
}
.At-info h1{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 400px;
  margin-left: 500px;
}

.At-info p{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 500px;
  margin-right: 500px;
  line-height: 40px;
}
.At-info h2{
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 150px;
  margin-left: 500px;
}
.At-info ul{
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
    line-height: 40px;
}
.At-ideation1{
  max-width: 40%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.At-ideation2{
  max-width: 40%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.At-ideation3{
  max-width: 40%;
  border-radius: 25px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  transition: transform 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.row3{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/*Contact Me*/
form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}

.contact{
  margin-top: 100px;
  text-align: center;
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.Name{
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;

}
.Email{
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;
}
input{
  font-family: new-order,sans-serif;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
  height: 40px;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
  border: 1px solid var(--mid-gray-color);
  border-radius: 5px;
  font-size: 20px;
}

textarea {
    font-family: new-order,sans-serif;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--mid-gray-color);
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 10px;
    width: 1000px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .5em rgba(0,0,0,0.3);
    position: absolute;
    top: 400px;
    left: 400px;
}

.button1{
  text-align: center;
  font-family: new-order,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #CE5E79;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eee;
  height: 40px;
  width: 90px;
  position: absolute;
  top: 800px;
  box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
}

.button1:hover {
  background: #EE926B;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}


/*------------- media query for phone ---------*/
@media screen and (min-width: 0px) and (max-width: 500px){
/*--- navbar ----*/
  .container{
    flex-direction: column;
    align-items: flex-start;
  }
  nav{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }
  li{
    display: block;
    text-align: center;
  }
  li a{
    font-size: 1.4rem;
  }
  .nav-toggle{
    display: block;
  }

  /*--- index ----*/
  .col-2 h1{
    margin-top: -100px;
    font-size: 100px;
    line-height: 100px;
    display: block;
    text-align: center;
    margin-right: 0;
    margin-left: -80px;
    margin-top:-150px;
  }
  .col-2 img{
    max-width: 100%;
    margin-bottom:-100px;
    position: relative;
    right: 50px;
  }


  /*--- about ----*/

  .col-2-about h2{
    font-size: 20px;
    line-height: 30px;
  }
  .col-2-about p{
    font-size: 15px;
    line-height: 20px;
  }
  .col-2-about img {
    margin-top: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    margin-top: -60px;
    margin-bottom: 10px;
  }




  /*--- resume ---*/
  .resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 150px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 25px;
  }
  /*---contact*---*/
  .contact{
    margin-top: 100px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
  }
  .Name{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;

  }
  .Email{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin-top: 40px;
  }
  input{
    font-family: new-order,sans-serif;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 260px;
    height: 40px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
    border: 1px solid var(--mid-gray-color);
    border-radius: 5px;
    font-size: 20px;
  }

  textarea {
      font-family: new-order,sans-serif;
      font-size: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid var(--mid-gray-color);
      border-radius: 15px;
      font-size: 16px;
      padding: 10px 10px;
      width: 310px;
      height: 200px;
      margin: 10px 10px 10px 10px;
      box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .5em rgba(0,0,0,0.3);
      position: relative;
      top: 60px;
      left:10px;
  }
  .button1{
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #CE5E79;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    height: 40px;
    width: 90px;
    position: relative;
    top: 70px;
    left: 0px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
  }



  /*Project*/

  .SB{
    margin-top: 70px;
    width:400px;
    height: 200px;
  }
  .AT-background{
    margin-top: 70px;
    width:400px;
    height: 200px;
  }
  .project-h1{
    margin-top: 10px;
  }
  .project-h2{
    margin-top: 70px;
    font-size: 40px;
    margin-bottom: 0;
  }
  .project-p{
    font-size: 20px;
  }
  /*StrongBeenz Project */
  .SB-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
    font-size: 60px;
  }
  .SB-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .background{
      margin: 0px 0px 30px 0px;
      height: 550px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #8591A6);
  }
  .SB-hp{
    max-width: 75%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
    z-index: 1;
  }
  .SB-pd{
    display:none;
  }
  .SB-lg{
    display:none;
  }
  .SB-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .SB-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 23px;
  }
  .SB-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .SB-info ul{
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
      line-height: 25px;
  }
  .row3{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .SB-product{
    max-width: 23%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-top: -80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .SB-product1{
    max-width: 60%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }


  /*Attentio App*/
  .At-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
    font-size: 60px;
  }
  .At-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .background-at{
      margin: 0px 0px 40px 0px;
      height: 330px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #99B1A7);
  }
  .At1{
    display: none;
  }
  .At2{
    display: none;
  }
  .At3{
    display: none;
  }
  .At-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .At-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 23px;
  }
  .At-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .At-ideation1{
    max-width: 70%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: -90px;
  }
  .At-ideation2{
    display: none;
  }
  .At-ideation3{
    max-width: 70%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  .row3{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

}




/*------------- media query for iPad ---------*/
@media screen and (min-width: 501px) and (max-width: 1100px){
/*--- navbar ----*/
  .container{
    flex-direction: column;
    align-items: flex-start;
  }
  nav{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }
  li{
    display: block;
    text-align: center;
  }
  li a{
    font-size: 1.4rem;
  }
  .nav-toggle{
    display: block;
  }

  /*--- index ----*/
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 180px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .col-2{
    flex-basis: 100%;
    min-width: 300px;
  }

  .col-2 img{
    max-width: 70%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .col-2 h1{
    margin-top: -100px;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
  }
  .project1{
    position:relative;
    top:-100px;
  }
  .square1{
    display: none;
  }
  .square2{
    display: none;
  }
  .square3{
    display: none;
  }
  .square4{
    display: none;
  }
  /*--- about ----*/
  .row-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
  .col-2-about{
    flex-basis: 100%;
    min-width: 300px;
  }
  .col-2-about h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    line-height: 38px;
    margin-left: 50px;
    margin-right: 50px;

  }
  .col-2-about p{
    font-family: new-order,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 23px;
    line-height: 35px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .col-2-about img{
    max-width: 50%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    margin-left: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .col-2-about img:hover{
    transform: translateY(-30px);
  }

  /*--- resume ---*/
  .resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 25px;
  }
  /*---contact*---*/
  .contact{
    margin-top: 100px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
  }
  .Name{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;

  }
  .Email{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    margin-top: 40px;
  }
  input{
    font-family: new-order,sans-serif;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 40px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
    border: 1px solid var(--mid-gray-color);
    border-radius: 5px;
    font-size: 20px;
  }

  textarea {
      font-family: new-order,sans-serif;
      font-size: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid var(--mid-gray-color);
      border-radius: 15px;
      font-size: 16px;
      padding: 10px 10px;
      width: 600px;
      height: 300px;
      margin: 10px 10px 10px 10px;
      box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .5em rgba(0,0,0,0.3);
      position: relative;
      top: 100px;
      left:90px;
  }

  .button1{
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #CE5E79;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    height: 40px;
    width: 90px;
    position: relative;
    top: 300px;
    left: -350px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
  }

  .button1:hover {
    background: #EE926B;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }
  /*Project*/

  .SB{
    margin-top: 70px;
    width:400px;
    height: 200px;
  }
  .AT-background{
    margin-top: 70px;
    width:400px;
    height: 200px;
  }
  .project-h1{
    margin-top: 10px;
  }
  .project-h2{
    margin-top: 70px;
    font-size: 40px;
    margin-bottom: 0;
  }
  .project-p{
    font-size: 20px;
  }
  /*StrongBeenz Project */
  .SB-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:200px;
    font-size: 60px;
  }
  .SB-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top:-20px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .background{
      margin: 0px 0px 0px 0px;
      height: 800px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #8591A6);
  }
  .SB-hp{
    max-width: 70%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    z-index: 1;
  }
  .SB-pd{
    display:none;
  }
  .SB-lg{
    display:none;
  }
  .SB-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .SB-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
  }
  .SB-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 10px;
  }
  .SB-info ul{
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
      line-height: 40px;
  }
  .row3{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .SB-product{
    max-width: 20%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .SB-product1{
    max-width: 40%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }


  /*Attentio App*/
  .At-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:200px;
    font-size: 60px;
  }
  .At-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top:-20px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .background-at{
      margin: 0px 0px 0px 0px;
      height: 1000px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #99B1A7);
  }
  .At1{
    max-width: 30%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: -70px;
  }
  .At2{
    display: none;

  }
  .At3{
    display: none;
  }
  .At-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .At-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
  }
  .At-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 10px;
  }
  .At-info ul{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 40px;
  }
  .At-ideation1{
    max-width: 60%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .At-ideation2{
    max-width: 60%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .At-ideation3{
    max-width: 70%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .row3{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

}

/*Media Screen for Computer */
@media screen and (min-width: 1101px) and (max-width: 3000px){
  body{
    background-color: #F9EDEE;
    font-family: new-order,sans-serif;
    font-style: normal;
    margin: 0px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  ul{
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 1.25rem;
  }

  li a {
    font-family: new-order,sans-serif;
    font-style: normal;
    font-size: 25px;
    color: black;
    background-color: inherit;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: underline #CE5E79;
  }

  .nav-toggle{
    display:none;
    position:absolute;
    top: 1.5rem;
    right: 1rem;
    }
  .open{
    height: 100vh;
  }
  .hidden{
    display: none;
  }

  /*Index.html*/
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .col-2{
    flex-basis: 50%;
  }

  .col-2 img{
    max-width: 90%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    margin-left:-10px;
    padding-left: 0px;
    margin-top: -100px;
  }
  .col-2 img:hover{
    transform: translateY(-30px);
  }

  .col-2 h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    line-height: 150px;
    margin-top: -10px;
    margin-right:0px;
    margin-left: 100px;
    padding-right: 0px;
  }


  /*Aboutme.html*/
  .row-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
  }
  .col-2-about{
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2-about h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    margin-right: 200px;
  }
  .col-2-about p{
    font-family: new-order,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    line-height: 27px;
    margin-right: 200px;
  }
  .col-2-about img{
    max-width: 65%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    margin-left: 210px;
  }
  .col-2-about img:hover{
    transform: translateY(-30px);
  }


  /*resume*/
  .resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 80px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius: 25px;
  }

  /*Projects*/
  .AT-background{
    display: block;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 800px;
    width: 1700px;
    max-width: 80%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
  }
  .AT-background:hover{
    transform:translateY(-30px);
  }
  /*PROJECT PAGE */
  .project-h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 130px;
  }
  .project-h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .project-p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 100px;
    text-align: center;
  }

  /*StrongBeenz*/
  .SB{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 800px;
    width: 1700px;
    max-width: 80%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
  }
  .SB:hover{
    transform:translateY(-30px);
  }
  .SB-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:200px;
    font-size: 80px;
    margin-left: 240px;
  }
  .SB-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top:-20px;
    margin-bottom: 100px;
    margin-left: 240px;
  }
  .background{
      margin: 0px 0px 0px 0px;
      height: 1000px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #8591A6);
  }
  .SB-hp{
    max-width: 60%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    z-index: 1;
  }
  .SB-pd{
    max-width: 25%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    position: absolute;
    top: 500px;
    left: 1300px;
    z-index:2;
  }
  .SB-lg{
    max-width: 19%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    position: absolute;
    top: 800px;
    left: 70px;
    z-index:2;
  }
  .SB-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 400px;
    margin-left: 500px;
  }

  .SB-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
    line-height: 40px;
  }
  .SB-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 500px;
  }
  .SB-info ul{
      font-size: 20px;
      margin-left: 500px;
      margin-right: 500px;
      line-height: 40px;
  }
  .SB-product{
    max-width: 20%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row3{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .SB-product1{
    max-width: 40%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }



  /*Attentio App*/
  .At-intro h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top:200px;
    font-size: 80px;
    margin-left: 240px;
  }
  .At-intro p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top:-20px;
    margin-bottom: 100px;
    margin-left: 240px;
  }
  .background-at{
      margin: 0px 0px 0px 0px;
      height: 1000px;
      background-color: #cccccc;
      background-image: linear-gradient(to right, white , #99B1A7);
  }
  .At1{
    max-width: 20%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .At2{
    max-width: 20%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    position: absolute;
    top: 500px;
    left: 1300px;
    z-index:2;
  }
  .At3{
    max-width: 20%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    position: absolute;
    top: 500px;
    left: 130px;
    z-index:2;
  }
  .At-info h1{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 400px;
    margin-left: 500px;
  }

  .At-info p{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
    line-height: 40px;
  }
  .At-info h2{
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 500px;
  }
  .At-info ul{
      font-size: 20px;
      margin-left: 500px;
      margin-right: 500px;
      line-height: 40px;
  }
  .At-ideation1{
    max-width: 40%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .At-ideation2{
    max-width: 40%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .At-ideation3{
    max-width: 40%;
    border-radius: 25px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    transition: transform 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .row3{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


  /*Contact Me*/
  form{
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
  }

  .contact{
    margin-top: 70px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
  .Name{
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    position: relative;
    left: 100px;
  }
  .Email{
    min-width: 300px;
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
    position: relative;
    right: 100px;
  }
  input{
    font-family: new-order,sans-serif;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 40px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
    border: 1px solid var(--mid-gray-color);
    border-radius: 5px;
    font-size: 20px;
  }

  textarea {
      font-family: new-order,sans-serif;
      font-size: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid var(--mid-gray-color);
      border-radius: 15px;
      font-size: 16px;
      padding: 10px 10px;
      width: 700px;
      height: 300px;
      margin: 10px 10px 10px 10px;
      box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .5em rgba(0,0,0,0.3);
      position: absolute;
      top: 400px;
      left: 400px;
  }

  .button1{
    text-align: center;
    font-family: new-order,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background: #CE5E79;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    height: 40px;
    width: 90px;
    position: absolute;
    top: 800px;
    box-shadow: inset 0 -.1em .1em rgba(0,0,0,0.1), 0.1em 0.1em .1em rgba(0,0,0,0.3);
  }

  .button1:hover {
    background: #EE926B;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }

}
